/******************************** 
     static media Css
  ********************************/
.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}
.static-media-wrap {
  padding: 45px 30px;
}

.static-media2 {
  .title {
    font-family: $gilroyBold;
    font-size: 16px;
    font-weight: fontweight(bold);
    line-height: 22px;
    @include max-screen(992, 1199) {
      font-size: 15px;
    }
  }
  .text {
    line-height: 20px;
    font-size: 14px;
  }
}

/******************************** 
     static media Css End
  ********************************/
